*.vs

RhythmGame_NDS/*.vs
RhythmGame_NDS/build/*
RhythmGame_NDS/*.nds
RhythmGame_NDS/*.elf
RhythmGame_NDS/*.sav
RhythmGame_NDS/*.ml1
RhythmGame_NDS/*.ml2
RhythmGame_NDS/*.ml3
RhythmGame_NDS/*.ml4
RhythmGame_NDS/*.ml5
RhythmGame_NDS/*.ml6
RhythmGame_NDS/*.ml7
RhythmGame_NDS/*.ml8
RhythmGame_NDS/*.ml9

RhythmGame_Emulator/*.vs
RhythmGame_Emulator/build/*
RhythmGame_Emulator/*.nds
RhythmGame_Emulator/*.elf
RhythmGame_Emulator/*.sav
RhythmGame_Emulator/*.ml1
RhythmGame_Emulator/*.ml2
RhythmGame_Emulator/*.ml3
RhythmGame_Emulator/*.ml4
RhythmGame_Emulator/*.ml5
RhythmGame_Emulator/*.ml6
RhythmGame_Emulator/*.ml7
RhythmGame_Emulator/*.ml8
RhythmGame_Emulator/*.ml9
